<mat-card class="cardWithShadow theme-card">

  <mat-tab-group selectedIndex="1">
    <mat-tab label="Order">
      <app-order (orderPlaced)="postOrder($event)"></app-order>
    </mat-tab>
    <mat-tab label="Strategy">
      <app-strategy (strategyPlaced)="postStrategyOrder($event)"></app-strategy></mat-tab>
  </mat-tab-group>
  <mat-card-content class="b-t-1">
    <mat-tab-group selectedIndex="0">
      <mat-tab label="Balance">
      <app-balances></app-balances>
      </mat-tab>
      <mat-tab label="Open Orders">
        <app-open-orders></app-open-orders>
      </mat-tab>
    </mat-tab-group>
    <div class="row">
    </div>
  </mat-card-content>
</mat-card>