<mat-card class="cardWithShadow theme-card">

  <mat-tab-group selectedIndex="1">
    <!-- order tab -->
    <mat-tab label="Order">
      <app-order (orderPlaced)="postOrder($event)"></app-order>
    </mat-tab>
    <!-- strategy tab -->
    <mat-tab label="Strategy">
      <app-strategy (strategyPlaced)="postStrategyOrder($event)"></app-strategy></mat-tab>
  </mat-tab-group>
  <mat-card-content class="b-t-1">
    <mat-tab-group selectedIndex="3">
      <mat-tab label="Balance">
      <app-balances></app-balances>
      </mat-tab>
      <mat-tab label="Open Orders">
        <app-open-orders></app-open-orders>
      </mat-tab>
      <mat-tab label="Staged Orders"> 
        <app-staged-orders></app-staged-orders>
      </mat-tab>
      <mat-tab label="TradingView Orders">
        <app-tradingview-orders></app-tradingview-orders>
      </mat-tab>
    </mat-tab-group>
    
  </mat-card-content>
</mat-card>