.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 16px;
  background-color: #CAE4DB;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
    border-bottom-color: $borderColor;
    background-color: #CAE4DB;
  }
 .mdc-data-table__header-row {
  background-color: #CAE4DB;

}